body{
    background-image: url('background4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 32px;
    font-family:Arial, Helvetica, sans-serif;
}
p{
    font-size: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}

