@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700');
* {
    font-family: 'Poppins', 'Verdana', 'Helvetica', sans-serif;
    font-weight: 400;
}
body {
    color: white;
    background-color: #101d3c;
    overflow: hidden;
}

.content {
    /* background-image: url('background2.jpg'); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    font-size: 28px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 64px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

h2{
    font-size: 28px;
    display: flex;
    justify-content: center;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 300px;
    border-radius: 20px;
}

button[type="submit"] {
    margin-left: 15px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color:#fff;
    cursor: pointer;
}

label {
    display: flex;
    justify-content: center;
}

.send {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.rat {
    width: 200px;
    height: auto;
}

