body {
    background-image: url('background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: black;
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    color: black;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
h2{
    color: black;
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius:5px;
    background-color: #007bff;
    color:#fff;
    cursor: pointer;
}